*body {
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  font-weight: 50px;
  color: rgb(7, 109, 109);
  text-indent: 10px;
  line-height: 40px;
}
#h1 {
  font-size: 50px;
  line-height: 60px;
}
h2 {
  font-size: 2.5em;
  font-family: "Yeseva One", cursive;
  color: rgb(7, 109, 109);
}
h3 {
  font-size: 20px;
  margin-left: 30px;
}
h4 {
  font-size: 17px;
  margin-left: 30px;
}
p {
  font-size: 20px;
  line-height: 35px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}
.P{
  font-size: 15px;
  line-height: normal;
  margin-left: 20px;
}
.Menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
}
.button {
  border-radius: 20px;
  height: 50px;
  width: 180px;
  padding: 10px;
  background-color: rgb(38, 133, 80);
  color: white;
  margin-left: 10px;
  font-weight: 150px;
  border: none;
  font-size: 18px;
  cursor: g;
}
.list {
  display: flex;
  list-style: none;
}
.list a {
  text-decoration: none;
  margin: 15px;
  font-size: 30px;
  color: black;
  font-weight: 30px;
  margin-right: 40px;
}



.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 30px;
  height: 550px;
  max-width: 90%;
  padding: 10 40;
}
.main-div {
  height: 580px;
  width: 600px;
  padding-left: 30 20;
}
.camera-div {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  height: 550;
  width: 550px;
  background-size: 500px;
  margin-right: 20%;
}
.logo-gallery {
  float: right;
  height: 100;
  width: 90%;
  padding-bottom: 70px;
  margin-left: 40px;
}

hr {
  clear: both;
  margin-bottom: 0px;
  border: 0;
  height: 6px;
  background-image: linear-gradient(to right, white, transparent, white),
    linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
  background-image: -moz-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
  background-image: -ms-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
}

.camera {
  height: 540px;
  width: 500px;
  margin-right: 70px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row-gap: 40px;
}

.product-details {
  box-shadow: 5px 5px 5px 5px #f2eaea;
  height: 450px;
  width: 310px;
  padding: 20 10;
  margin: 20 10;
  align-items: center;
  line-height: 8px;

  background-color: white;
}
.span{
  margin-left: 20px;
  color: orange;
}
.first-section {
  height: 1800px;
  max-width: 70%;

  margin-top: 0;
  padding: 10 40;
  margin-left: 15%;
}
.caption {
  height: 300;
  max-width: 100%;
  align-items: center;
  margin-left: 35%;
}
img {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
}
.footer {
  max-width: 100%;
  height: 200px;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}
#h3 {
  color: white;
  font-size: 20px;
}
#h4 {
  color: white;
  font-size: 12px;
}
.see-more {
  margin-left: 80%;
  color: darkmagenta;
}
.footer-icon {
  list-style: none;
  display: inline;
}
.footer li {
  display: inline;
}
.footer li i {
  margin: 10px;
  color: white;
}

/* ---------------Media Queries--------------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 688px) and (-webkit-min-device-pixel-ratio: 1) {
  .menu-div,
  .image-grid {
    grid-template-columns: repeat(1 1fr);
  }
}
