*body {
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 1em;
  font-weight: 50px;
  color: rgb(7, 109, 109);
  text-indent: 10px;
  line-height: 40px;
}
#h1 {
  font-size: 3em;
  line-height: 70px;
}
h2 {
  font-size: 2.5em;
  font-family: "Yeseva One", cursive;
  color: rgb(7, 109, 109);
}
h3 {
  font-size: 20px;
  margin-left: 30px;
}
h4 {
  font-size: 17px;
  margin-left: 30px;
}
p {
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;
}
.Menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
}
.button {
  border-radius: 5px;
  height: 40px;
  width: 80x;
  padding: 10px;
  background-color: rgb(208, 37, 193);
  color: white;
  margin-left: 10px;
}
.list {
  display: flex;
  list-style: none;
}
.list a {
  text-decoration: none;
  margin: 15px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 13%;
  margin-right: 40px;
  height: 450px;
  max-width: 80%;
  padding: 10 40;
}
.main-div {
  height: 580px;
  width: 600px;
  padding-left: 30 20;
}
.camera-div {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  height: 440px;
  width: 541px;
  background-size: 400px;
}
.camera {
  height: 340px;
  width: 314px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row-gap: 40px;
}

.product-details {
  box-shadow: 2px 2px 2px 2px #f2eaea;
  height: 400px;
  width: 310px;
  padding: 20 10;
  margin: 20 10;
  align-items: center;
  line-height: 8px;

  background-color: white;
}
.first-section {
  height: 1500px;
  max-width: 70%;

  margin-top: 0;
  padding: 10 40;
  margin-left: 15%;
}
.caption {
  height: 300;
  max-width: 100%;
  align-items: center;
  margin-left: 35%;
}
img {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 5px;
}
.footer {
  max-width: 100%;
  height: 300px;
  background-color: black;
  text-align: center;
  padding-top: 50px;
}
#h3 {
  color: white;
  font-size: 20px;
}
#h4 {
  color: white;
  font-size: 12px;
}
#h2 {
 
}