*body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(235, 235, 219);
}
h1 {
  font-family: "Yeseva One", cursive;
  font-size: 2em;
  font-weight: 50px;
  color: rgb(7, 109, 109);
  text-indent: 10px;
}
h2{
  font-size: 2.5em;
}
.Menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.button {
  border-radius: 5px;
  height: 40px;
  width: 80x;
  padding: 10px;
  background-color: rgb(208, 37, 193);
  color: white;
}
.list {
  display: flex;
  list-style: none;
}
.list a {
  text-decoration: none;
  margin: 15px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 450px;
  max-width: 100%;
  padding: 10 40;
  background-color: burlywood;
 
}
.main-div{
  height: 580px;
  width: 450px;
  padding-left: 30 20 ;

}
.camera-div{
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  height: 440px;
  width: 541px;
  background-size: 400px;
}
.camera {
  height: 340px;
  width: 314px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row: 30px;

  grid-gap: 1rem;
}
.product-details {
  box-shadow: 2px 2px 2px 2px #f2eaea;
  height: 400px;
  width: 310px;
  padding: 20 10;
  margin: 20 10;
  align-items: center;

  background-color: white;
}
.first-section {
  height: 1500px;
  max-width: 100%;

  margin-top: 0;
  padding: 10 40;
  margin-left: 50px;
}
.caption {
  height: 300;
  max-width: 100%;
  align-items: center;
margin-left: 35%;



 
}
